.vs/
SiteMap.v12.suo
MainSite/BACKUP/
MainSite/bin/debug/
MainSite/bin/*.pdb
MainSite/bin/*.config
MainSite/obj/
MainSite/Web.config
MainSite/Properties/PublishProfiles/
MainSite/UpgradeLog.htm
MobileSite/BACKUP/
MobileSite/bin/debug/
MobileSite/bin/*.pdb
MobileSite/bin/*.config
MobileSite/obj/
MobileSite/Web.config
MobileSite/Properties/PublishProfiles/
MobileSite/UpgradeLog.htm
packages/
SiteMapTest/bin/
SiteMapTest/obj/
SiteMapTest/obj/Debug/
AcceptanceTest/bin/
AcceptanceTest/obj/
Utility/bin/
Utility/obj/
TestResults/
